html { 
    background: url(assets/background.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: Serif;
}

/* #575948 */

a {
    text-decoration: none;
    color: #a6907c;
}

a:hover {
    /* font-weight: 900; */
    color: #575948
}

#container {
    background-color: transparent;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#leftbar {
    width: 250px;
    padding: 10px;
    background-color: #403730;
    float: left;
    margin-bottom: 10px;
}

#nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav li {
    margin: 5px 0;
}

#main ul {
    list-style-type: none;
}

#main li {
    margin: 5px 0;
}

#main {
    width: 800px;
    padding: 10px;
    background-color: #d9cbba;
    color: black;
    float: right;
    margin-bottom:10px;
}

#mainproj {
    width: 800px;
    padding: 10px;
    background-color: #d9cbba;
    color: black;
    float: right;
    margin-bottom:10px;
    text-align:center;
}

#footer {
    clear: both;
    padding: 4px;
    background-color: #403730;
    color: #a6907c;
    text-align: right;
}

span.ltrText {
    unicode-bidi: bidi-override; direction: rtl
}

#info img {
    transition: all .5s ease;
}

#info img:hover {
    transform: rotate(20deg);
}

